.section_1 {
  background: url(../../assets/patternpad.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section_2 ul li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  /* justify-content: center; */
}
.portfolio-title-section{
    background: url(../../assets/patternpad-2.svg);
}
/* .project_cards_container div:hover{
    transform: scale(1.1);
    transition: 0.5s;
    
} */

@media only screen and (min-width: 1024px) {
  .project_cards_container div:nth-child(2) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 340px;
  }
  .project_cards_container div:nth-child(4) img {
    margin-top: -160px;
  }
  .project_cards_container div:nth-child(6) img {
    margin-top: -160px;
  }
}
